@model messageBoard.Models.ViewModel.GuestbookView

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div align="left">
    @Html.Action("CreateMessage")
</div>
<hr />

@using (Html.BeginForm("Index","Guestbook",FormMethod.Get))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(p=>p.Search)
            </td>
            <td>
                @Html.TextBoxFor(p=>p.Search)
            </td>
            <td>
                <input type="submit" value="搜尋" />
            </td>
        </tr>
    </table>
}
<hr />
<table>
    @if (!Model.DataList.Count.Equals(0))
    {
        foreach (var item in Model.DataList)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(p => p.DataList[0].Name)：
                </td>
                <td colspan="3">
                    @item.Name
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(p => p.DataList[0].Content)：
                </td>
                <td colspan="3">
                    @item.Content
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(p => p.DataList[0].CreateTime)：
                </td>
                <td colspan="3">
                    @item.CreateTime
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(p => p.DataList[0].Reply)：
                </td>
                <td colspan="3">
                    @item.Reply
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(p => p.DataList[0].ReplyTime)：
                </td>
                <td colspan="2">
                    @item.ReplyTime
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.ActionLink("修改留言", "EditMessage", new { id = item.Id })
                    @Html.ActionLink("回覆留言", "Reply", new { id = item.Id })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">
                資料庫內無資料
            </td>
        </tr>
    }
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
